/* General */

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

h1 {
    text-align: center;
}

header {
    height: 80px;
}

nav {
    height: 100%;
}

main {
    height: 500px;
}

/* Utilities */

.card {
    background-color: #D0DEED;

}

/* Header */

.color-background {
    background-color: #D0DEED;
}

.nav-left-right {
    height: 100%;
}